<h1>Decks</h1>
  <% @decks.each do |deck| %>
  <div class="media">
    <a class="pull-left"href="decks/<%=deck.id %>"><img class="media-object" src="<%= deck.image_url %>" width="100px"></a>
    <div class="media-body">
      <h4 class="media-heading"><a href="/decks/<%= deck.id %>"><%= deck.name %></a></h4>
      <% unless deck.rounds.nil? %>
       <% deck.rounds.each do |round| %>
        <li>Number correct: <%= round.num_correct %></li>
        <li>Number wrong: <%= round.num_wrong %></li>
        <li>Number of guesses: <%= round.guesses.length %></li>
        <li>Score: <%= round.calculate_score %></li>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>

